*{
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;
}
#holder{
    width: 1500px;
    border: 1px solid;
}
header{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: flex-end;

}
nav{
    width: 800px;
    height: 100px;
    background-color: #27253d;
    border-radius: 20px;
}
nav>ul>li{
    color: white;
    font-size: 30px;
}
nav>ul{
    display: flex;
    align-items: center;
    justify-content: center;

}